In [3]:
import sqlite3

connection = sqlite3.connect('database1.db')
connection

In [ ]:
cursor = connection.cursor()

In [5]:
cursor.execute('''CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
)''')

connection.commit()

In [7]:
cursor.execute('''
    INSERT INTO users (name, age, department)
    VALUES ('Alice', 25, 'IT')
               ''')
cursor.execute('''
    INSERT INTO users (name, age, department)
    VALUES ('Bob', 35, 'ITIII')
               ''')

cursor.execute('''
    INSERT INTO users (name, age, department)
    VALUES ('Meg', 24, 'EC')
               ''')
connection.commit()

In [12]:
cursor.execute('''SELECT * FROM users''')
users = cursor.fetchall()
for user in users:
    print(user)

(1, 'Alice', 100, 'IT')
(2, 'Bob', 35, 'ITIII')

In [9]:
#update the data
cursor.execute('''
    UPDATE users
    SET age = 100
    WHERE name = 'Alice'
''')
connection.commit()

In [11]:
cursor.execute('''
    DELETE FROM USERS
    WHERE name = 'Meg'
               ''')
connection.commit()